@tailwind base;
@tailwind components;
@tailwind utilities;

.game01animation01 {
  animation: yurayura01 8s linear infinite;
}
@keyframes yurayura01 {
  0% , 100%{
    transform: rotate(5deg);
  }
  50%{
    transform: rotate(-5deg);
  }
}
.game01animation02 {
  animation: yurayura01 12s linear infinite;
}
@keyframes yurayura02 {
  0% , 100%{
    transform: rotate(8deg);
  }
  50%{
    transform: rotate(-8deg);
  }
}
.game01animation03 {
  animation: yurayura03 8s linear infinite;
}
@keyframes yurayura03 {
  0% , 100%{
    transform: rotate(5deg);
  }
  50%{
    transform: rotate(-5deg);
  }
}

.game02animation01 {
  animation: suisui01 14s ease-in-out infinite;
}
@keyframes suisui01 {
  0% {
    right: -10px;
    top: 100px;
  }
  50% {
    top: 160px;
  }
  100% {
    right: 100%;
    top: 100px;
  }
}

.game02animation02 {
  animation: suisui02 12s ease-in-out infinite;
}
@keyframes suisui02 {
  0% {
    right: -10px;
    top: 200px;
  }
  50% {
    top: 100px;
  }
  100% {
    right: 100%;
    top: 200px;
  }
}